In [4]:
import pandas as pd
import pyspark
p1=pd.read_csv('Automobile.csv')
print(p1)

          company   body-style  length engine  mileage sunroof
0     alfa-romero  convertible   168.8   dohc       21      No
1     alfa-romero    hatchback   171.2   dohc       19      No
2            audi        sedan   176.6    ohc       24     Yes
3            audi        sedan   176.6    NaN       18     Yes
4            audi        sedan   177.3    ohc       19     Yes
5            audi        wagon   192.7    ohc       19     Yes
6             bmw        sedan   176.8    ohc       23     Yes
7             bmw        sedan   176.8    ohc       23     Yes
8             bmw        sedan   176.8    ohc       21     Yes
9             bmw        sedan   189.0    ohc       16     Yes
10            bmw        sedan   193.8    ohc       16     Yes
11            bmw        sedan   197.0    ohc       15     Yes
12      chevrolet    hatchback   141.1    ohc       47      No
13      chevrolet    hatchback   155.9    ohc       38      No
14      chevrolet        sedan   158.8    ohc       38      No
15          dodge    hatchback   157.3    ohc       31      No
16          dodge    hatchback   157.3    ohc       31      No
17          honda        wagon   157.1    ohc       30      No
18          honda        sedan   175.4    ohc       24      No
19          honda        sedan   169.1    ohc       25      No
20          isuzu        sedan   170.7    ohc       24      No
21          isuzu        sedan   155.9    ohc       38      No
22          isuzu        sedan   155.9    ohc       38      No
23         jaguar        sedan   199.6   dohc       15     Yes
24         jaguar        sedan   199.6   dohc       15     Yes
25         jaguar        sedan   191.7   ohcv       13     Yes
26          mazda    hatchback   159.1    ohc       30     Yes
27          mazda    hatchback   159.1    ohc       31     Yes
28          mazda    hatchback   159.1    ohc       31     Yes
29          mazda    hatchback   169.0  rotor       17     Yes
30          mazda        sedan   175.0    ohc       31     Yes
31  mercedes-benz        sedan   190.9    ohc       22     Yes
32  mercedes-benz        wagon   190.9    ohc       22     Yes
33  mercedes-benz        sedan   208.1   ohcv       14     Yes
34  mercedes-benz      hardtop   199.2   ohcv       14     Yes
35     mitsubishi    hatchback   157.3    ohc       37     Yes
36     mitsubishi    hatchback   157.3    ohc       31     Yes
37     mitsubishi        sedan   172.4    ohc       25     Yes
38     mitsubishi        sedan   172.4    ohc       25     Yes
39         nissan        sedan   165.3    ohc       45      No
40         nissan        sedan   165.3    ohc       31      No
41         nissan        sedan   165.3    ohc       31      No
42         nissan        wagon   170.2    ohc       31      No
43         nissan        sedan   184.6   ohcv       19      No
44        porsche      hardtop   168.9   ohcf       17     Yes
45        porsche  convertible   168.9   ohcf       17     Yes
46        porsche    hatchback   175.7  dohcv       17     Yes
47         toyota    hatchback   158.7    ohc       35      No
48         toyota    hatchback   158.7    ohc       31      No
49         toyota    hatchback   158.7    ohc       31      No
50         toyota        wagon   169.7    ohc       31      No
51         toyota        wagon   169.7    ohc       27      No
52         toyota        wagon   169.7    ohc       27      No
53         toyota        wagon   187.8   dohc       19      No
54     volkswagen        sedan   171.7    ohc       37     Yes
55     volkswagen        sedan   171.7    ohc       27     Yes
56     volkswagen        sedan   171.7    ohc       37     Yes
57     volkswagen        sedan   171.7    ohc       26     Yes
58          volvo        sedan   188.8    ohc       23      No
59          volvo        wagon   188.8    ohc       23      No

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('zenlite') .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 09:22:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [40]:
f1=(spark.read.option("header","true").csv('HR_Hiring_details_transaction.csv'))

In [41]:
f1.show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|ected_in_CTCPercent_hike_exp|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|  1|      2110407|         Yes|                      14|           30|          E2|                      -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       L001|     201301| 34|     1|         D6|
|  2|      2112635|          No|                      18|           30|          E2|                          50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|
|  3|      2112838|          No|                       3|           45|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|           Agency|         4|       L001|     201301| 27|     2|        D10|
|  4|      2115021|          No|                      26|           30|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|Employee Referral|         4|       L001|     201301| 34|     2|         D3|
|  5|      2115125|         Yes|                       1|          120|          E2|                       42.59|                      42.59|                     0|           No|                      Yes|  Male|Employee Referral|         6|       L001|     201301| 34|     2|        D21|
|  6|      2117167|         Yes|                      17|           30|          E1|                       42.83|                      42.83|                     0|           No|                       No|  Male|Employee Referral|         2|       L001|     201301| 34|     2|        D24|
|  7|      2119124|         Yes|                      37|           30|          E2|                       31.58|                      31.58|                     0|           No|                       No|  Male|Employee Referral|         7|       L001|     201301| 32|     2|        D23|
|  9|      2127572|         Yes|                      16|            0|          E1|                         -20|                        -20|                     0|           No|                       No|Female|           Direct|         8|       L001|     201301| 34|     3|         D6|
| 11|      2138169|          No|                       1|           30|          E1|                      -22.22|                     -22.22|                     0|           No|                       No|Female|Employee Referral|         3|       L003|     122107| 26|     4|         D5|
| 12|      2143362|          No|                       6|           30|          E1|                         240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|
| 13|      2151180|          No|                     120|           30|          E2|                        5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|       L001|     201301| 34|     2|         D6|
| 14|      2154264|          No|                       3|            0|          E2|                       28.21|                      37.18|                     7|           No|                       No|  Male|Employee Referral|         7|       L002|     600020| 34|     2|         D3|
| 15|      2156236|         Yes|                      14|           30|          E2|                          50|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|       L001|     201301| 29|     2|        D13|
| 16|      2158703|          No|                      44|           75|          E2|                       45.45|                         60|                    10|           No|                       No|  Male|           Direct|         8|       L001|     201301| 34|     2|        D13|
| 17|      2161257|          No|                       7|           30|          E3|                       53.85|                         50|                  -2.5|           No|                       No|  Male|Employee Referral|         5|       L001|     201301| 34|     2|         D9|
| 18|      2162487|          No|                       1|           30|          E3|                      -27.31|                     -27.31|                     0|           No|                       No|  Male|           Direct|        18|       L004|     560034| 34|     6|        D13|
| 19|      2166041|         Yes|                      98|           30|          E2|                          50|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|       L001|     201301| 36|     2|         D4|
| 20|      2172982|          No|                       1|            0|          E2|                          30|                         30|                     0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+

In [42]:
f1.createOrReplaceTempView("f2")

In [43]:
spark.sql("select * from f2").show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|ected_in_CTCPercent_hike_exp|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|  1|      2110407|         Yes|                      14|           30|          E2|                      -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       L001|     201301| 34|     1|         D6|
|  2|      2112635|          No|                      18|           30|          E2|                          50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|
|  3|      2112838|          No|                       3|           45|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|           Agency|         4|       L001|     201301| 27|     2|        D10|
|  4|      2115021|          No|                      26|           30|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|Employee Referral|         4|       L001|     201301| 34|     2|         D3|
|  5|      2115125|         Yes|                       1|          120|          E2|                       42.59|                      42.59|                     0|           No|                      Yes|  Male|Employee Referral|         6|       L001|     201301| 34|     2|        D21|
|  6|      2117167|         Yes|                      17|           30|          E1|                       42.83|                      42.83|                     0|           No|                       No|  Male|Employee Referral|         2|       L001|     201301| 34|     2|        D24|
|  7|      2119124|         Yes|                      37|           30|          E2|                       31.58|                      31.58|                     0|           No|                       No|  Male|Employee Referral|         7|       L001|     201301| 32|     2|        D23|
|  9|      2127572|         Yes|                      16|            0|          E1|                         -20|                        -20|                     0|           No|                       No|Female|           Direct|         8|       L001|     201301| 34|     3|         D6|
| 11|      2138169|          No|                       1|           30|          E1|                      -22.22|                     -22.22|                     0|           No|                       No|Female|Employee Referral|         3|       L003|     122107| 26|     4|         D5|
| 12|      2143362|          No|                       6|           30|          E1|                         240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|
| 13|      2151180|          No|                     120|           30|          E2|                        5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|       L001|     201301| 34|     2|         D6|
| 14|      2154264|          No|                       3|            0|          E2|                       28.21|                      37.18|                     7|           No|                       No|  Male|Employee Referral|         7|       L002|     600020| 34|     2|         D3|
| 15|      2156236|         Yes|                      14|           30|          E2|                          50|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|       L001|     201301| 29|     2|        D13|
| 16|      2158703|          No|                      44|           75|          E2|                       45.45|                         60|                    10|           No|                       No|  Male|           Direct|         8|       L001|     201301| 34|     2|        D13|
| 17|      2161257|          No|                       7|           30|          E3|                       53.85|                         50|                  -2.5|           No|                       No|  Male|Employee Referral|         5|       L001|     201301| 34|     2|         D9|
| 18|      2162487|          No|                       1|           30|          E3|                      -27.31|                     -27.31|                     0|           No|                       No|  Male|           Direct|        18|       L004|     560034| 34|     6|        D13|
| 19|      2166041|         Yes|                      98|           30|          E2|                          50|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|       L001|     201301| 36|     2|         D4|
| 20|      2172982|          No|                       1|            0|          E2|                          30|                         30|                     0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+

In [44]:
spark.sql("select 1 from f2").show()

+---+
|  1|
+---+
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
+---+

In [45]:
spark.sql("select count(ected_in_CTCPercent_hike_exp) from f2").show()

+-----------------------------------+
|count(ected_in_CTCPercent_hike_exp)|
+-----------------------------------+
|                               8995|
+-----------------------------------+

In [46]:
spark.sql("select Percent_hike_offered_in_CTC,Percent_difference_CTC,Percent_hike_offered_in_CTC from f2 where Percent_hike_offered_in_CTC>='50'").show()

+---------------------------+----------------------+---------------------------+
|Percent_hike_offered_in_CTC|Percent_difference_CTC|Percent_hike_offered_in_CTC|
+---------------------------+----------------------+---------------------------+
|                         60|                    10|                         60|
|                         50|                  -2.5|                         50|
|                         57|                     4|                         57|
|                      89.58|                     0|                      89.58|
|                      74.58|                  4.17|                      74.58|
|                      90.48|                -33.33|                      90.48|
|                       9.14|                 22.47|                       9.14|
|                      94.44|                  9.38|                      94.44|
|                       62.5|                    30|                       62.5|
|                         75|                     0|                         75|
|                         50|                     0|                         50|
|                      60.99|                -10.34|                      60.99|
|                       7.37|                     0|                       7.37|
|                       62.5|                     0|                       62.5|
|                         60|                 23.08|                         60|
|                      66.67|                    10|                      66.67|
|                      70.45|                  12.5|                      70.45|
|                         75|                   -25|                         75|
|                      51.04|                  3.57|                      51.04|
|                         80|                 38.46|                         80|
+---------------------------+----------------------+---------------------------+

In [47]:
spark.sql( "select * from f2") .show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|ected_in_CTCPercent_hike_exp|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|  1|      2110407|         Yes|                      14|           30|          E2|                      -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       L001|     201301| 34|     1|         D6|
|  2|      2112635|          No|                      18|           30|          E2|                          50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|
|  3|      2112838|          No|                       3|           45|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|           Agency|         4|       L001|     201301| 27|     2|        D10|
|  4|      2115021|          No|                      26|           30|          E2|                       42.84|                      42.84|                     0|           No|                       No|  Male|Employee Referral|         4|       L001|     201301| 34|     2|         D3|
|  5|      2115125|         Yes|                       1|          120|          E2|                       42.59|                      42.59|                     0|           No|                      Yes|  Male|Employee Referral|         6|       L001|     201301| 34|     2|        D21|
|  6|      2117167|         Yes|                      17|           30|          E1|                       42.83|                      42.83|                     0|           No|                       No|  Male|Employee Referral|         2|       L001|     201301| 34|     2|        D24|
|  7|      2119124|         Yes|                      37|           30|          E2|                       31.58|                      31.58|                     0|           No|                       No|  Male|Employee Referral|         7|       L001|     201301| 32|     2|        D23|
|  9|      2127572|         Yes|                      16|            0|          E1|                         -20|                        -20|                     0|           No|                       No|Female|           Direct|         8|       L001|     201301| 34|     3|         D6|
| 11|      2138169|          No|                       1|           30|          E1|                      -22.22|                     -22.22|                     0|           No|                       No|Female|Employee Referral|         3|       L003|     122107| 26|     4|         D5|
| 12|      2143362|          No|                       6|           30|          E1|                         240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|
| 13|      2151180|          No|                     120|           30|          E2|                        5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|       L001|     201301| 34|     2|         D6|
| 14|      2154264|          No|                       3|            0|          E2|                       28.21|                      37.18|                     7|           No|                       No|  Male|Employee Referral|         7|       L002|     600020| 34|     2|         D3|
| 15|      2156236|         Yes|                      14|           30|          E2|                          50|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|       L001|     201301| 29|     2|        D13|
| 16|      2158703|          No|                      44|           75|          E2|                       45.45|                         60|                    10|           No|                       No|  Male|           Direct|         8|       L001|     201301| 34|     2|        D13|
| 17|      2161257|          No|                       7|           30|          E3|                       53.85|                         50|                  -2.5|           No|                       No|  Male|Employee Referral|         5|       L001|     201301| 34|     2|         D9|
| 18|      2162487|          No|                       1|           30|          E3|                      -27.31|                     -27.31|                     0|           No|                       No|  Male|           Direct|        18|       L004|     560034| 34|     6|        D13|
| 19|      2166041|         Yes|                      98|           30|          E2|                          50|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|       L001|     201301| 36|     2|         D4|
| 20|      2172982|          No|                       1|            0|          E2|                          30|                         30|                     0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+

In [15]:
spark.sql("select gender from f2 where gender='Male'").show()

+------+
|gender|
+------+
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
|  Male|
+------+

In [48]:
spark.sql("select gender,Percent_hike_offered_in_CTC,Percent_difference_CTC,Percent_hike_offered_in_CTC from f2 where Percent_hike_offered_in_CTC>='50' or gender='Male'").show()

+------+---------------------------+----------------------+---------------------------+
|gender|Percent_hike_offered_in_CTC|Percent_difference_CTC|Percent_hike_offered_in_CTC|
+------+---------------------------+----------------------+---------------------------+
|  Male|                        320|                   180|                        320|
|  Male|                      42.84|                     0|                      42.84|
|  Male|                      42.84|                     0|                      42.84|
|  Male|                      42.59|                     0|                      42.59|
|  Male|                      42.83|                     0|                      42.83|
|  Male|                      31.58|                     0|                      31.58|
|  Male|                        220|                 -5.88|                        220|
|  Male|                     -60.53|                 -62.5|                     -60.53|
|  Male|                      37.18|                     7|                      37.18|
|  Male|                      287.5|                158.33|                      287.5|
|  Male|                         60|                    10|                         60|
|  Male|                         50|                  -2.5|                         50|
|  Male|                     -27.31|                     0|                     -27.31|
|  Male|                     165.36|                 76.91|                     165.36|
|  Male|                         30|                     0|                         30|
|  Male|                      42.86|                    65|                      42.86|
|  Male|                     164.29|                -17.78|                     164.29|
|  Male|                      42.78|                     0|                      42.78|
|  Male|                      42.86|                     0|                      42.86|
|  Male|                         25|                     0|                         25|
+------+---------------------------+----------------------+---------------------------+

In [59]:
spark.sql("select gender,Percent_hike_offered_in_CTC,Percent_difference_CTC,Percent_hike_offered_in_CTC from f2 where Percent_hike_offered_in_CTC=50" ).show()

+------+---------------------------+----------------------+---------------------------+
|gender|Percent_hike_offered_in_CTC|Percent_difference_CTC|Percent_hike_offered_in_CTC|
+------+---------------------------+----------------------+---------------------------+
|  Male|                         50|                  -2.5|                         50|
|Female|                         50|                     0|                         50|
|  Male|                         50|                 -12.5|                         50|
|  Male|                         50|                  -2.5|                         50|
|  Male|                         50|                     0|                         50|
|  Male|                         50|                  5.88|                         50|
|  Male|                         50|                  7.14|                         50|
|  Male|                         50|                   -10|                         50|
|Female|                         50|                   -10|                         50|
|  Male|                      50.33|                     0|                      50.33|
|Female|                         50|                     0|                         50|
|  Male|                       50.2|                 10.57|                       50.2|
|  Male|                         50|                     0|                         50|
|  Male|                       50.8|                  4.72|                       50.8|
|  Male|                         50|                 -8.33|                         50|
|Female|                         50|                  7.14|                         50|
|  Male|                         50|                   -10|                         50|
|Female|                         50|                   -10|                         50|
|  Male|                         50|                -12.73|                         50|
|  Male|                         50|                    20|                         50|
+------+---------------------------+----------------------+---------------------------+

In [50]:
spark.sql("SELECT gender, Percent_hike_offered_in_CTC, Percent_difference_CTC FROM f2 WHERE Percent_hike_offered_in_CTC = 50 ORDER BY Percent_difference_CTC ASC").show()

+------+---------------------------+----------------------+
|gender|Percent_hike_offered_in_CTC|Percent_difference_CTC|
+------+---------------------------+----------------------+
|  Male|                      50.51|                 -1.67|
|Female|                         50|                   -10|
|Female|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|Female|                         50|                   -10|
|Female|                         50|                   -10|
|  Male|                         50|                   -10|
|Female|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|Female|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
|  Male|                         50|                   -10|
+------+---------------------------+----------------------+

In [ ]:
spark.sql("SELECT gender, Percent_hike_offered_in_CTC, Percent_difference_CTC, FROM f2 WHERE Percent_hike_offered_in_CTC = 50 ORDER BY Percent_hike_offered_in_CTC ASC")

In [52]:
#Calculate the average age for 'Male' and 'Female' separately
spark.sql("SELECT Percent_hike_offered_in_CTC, AVG(Percent_hike_offered_in_CTC) as avg_Percent_hike_offered_in_CTC FROM f2 GROUP BY Percent_hike_offered_in_CTC").show()

+---------------------------+-------------------------------+
|Percent_hike_offered_in_CTC|avg_Percent_hike_offered_in_CTC|
+---------------------------+-------------------------------+
|                     314.53|                         314.53|
|                         -4|                           -4.0|
|                      55.41|                          55.41|
|                      17.42|                          17.42|
|                      28.79|             28.789999999999996|
|                      23.97|                          23.97|
|                      42.87|                          42.87|
|                      26.63|                          26.63|
|                       47.5|                           47.5|
|                     -18.27|                         -18.27|
|                      84.21|                          84.21|
|                      32.27|                          32.27|
|                       38.3|             38.300000000000004|
|                      49.25|                          49.25|
|                      53.09|                          53.09|
|                        125|                          125.0|
|                      91.67|                          91.67|
|                       34.4|                           34.4|
|                      12.85|                          12.85|
|                      26.25|                          26.25|
+---------------------------+-------------------------------+

In [53]:
spark.sql("SELECT * FROM f2 ORDER BY age DESC").show()

+----+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
| Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|ected_in_CTCPercent_hike_exp|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+----+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|5946|      2635174|         Yes|                     110|           60|          E2|                       33.33|                     116.67|                  62.5|           No|                       No|  Male|           Agency|         7|       L001|     201301| 60|     1|         D4|
|7516|      3211288|          No|                       7|           90|          E3|                       40.03|                       31.8|                 -5.88|           No|                       No|  Male|Employee Referral|        20|       L002|     600020| 51|     1|         D8|
| 149|      2464782|          No|                      10|           30|          E3|                         -25|                     -20.39|                  6.14|           No|                       No|  Male|           Agency|        13|       L002|     600020| 50|     2|        D14|
|4566|      2469131|         Yes|                      96|           60|          E3|                       20.45|                       12.5|                  -6.6|          Yes|                       No|  Male|           Direct|        20|       L004|     560034| 50|     7|         D2|
|5696|      2604373|         Yes|                      29|           30|          E2|                       13.33|                          0|                -11.76|           No|                       No|  Male|           Agency|         9|       L002|     600020| 50|     8|        D17|
|5923|      2618623|         Yes|                      43|           60|          E3|                       37.93|                      37.93|                     0|           No|                       No|  Male|Employee Referral|        10|       L002|     600020| 50|     8|        D19|
|2575|      2322707|         Yes|                       6|           30|          E3|                           0|                          0|                     0|           No|                       No|  Male|           Direct|        13|       L004|     560034| 49|     7|        D11|
|5462|      2587182|         Yes|                       5|           30|          E2|                       14.29|                      28.57|                  12.5|           No|                       No|  Male|Employee Referral|         7|       L006|     700027| 49|     5|        D18|
|5807|      2611866|         Yes|                     113|           60|          E2|                       34.96|                      34.96|                     0|           No|                       No|  Male|           Direct|         8|       L002|     600020| 49|     8|         D5|
|5195|      2561321|          No|                       3|           90|          E3|                          40|                         40|                     0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 48|     2|        D12|
|5277|      2566069|          No|                      32|           60|          E2|                       57.14|                      57.14|                     0|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 48|     5|        D17|
|7584|      3218118|          No|                      24|           60|          E3|                       42.86|                      42.86|                     0|           No|                       No|  Male|           Agency|        13|       L002|     600020| 48|     2|        D11|
|3688|      2399968|         Yes|                       1|           30|          E2|                       22.22|                      16.67|                 -4.55|           No|                       No|  Male|           Direct|         5|       L004|     560034| 47|     7|        D11|
|5470|      2588084|         Yes|                      35|           90|          E3|                       49.05|                      49.05|                     0|           No|                       No|Female|Employee Referral|         8|       L001|     201301| 47|     2|        D23|
|1042|      2193699|         Yes|                      24|           30|          E1|                          30|                      -7.14|                -28.57|           No|                       No|  Male|           Agency|         5|       L004|     560034| 46|     4|        D24|
|2032|      2282496|          No|                       0|            0|          E2|                       36.36|                      21.21|                -11.11|           No|                      Yes|  Male|           Direct|         5|       L006|     700027| 46|     7|        D22|
|3420|      2375502|         Yes|                      11|           30|          E1|                        6.67|                          0|                 -6.25|           No|                       No|  Male|           Direct|         9|       L004|     560034| 46|     6|        D22|
| 899|      2179353|          No|                       2|            0|          E3|                       31.58|                      31.58|                     0|           No|                      Yes|  Male|Employee Referral|        11|       L004|     560034| 45|     2|        D16|
| 737|      2157115|          No|                       4|            0|          E3|                        9.38|                       9.38|                     0|           No|                       No|  Male|           Direct|        10|       L004|     560034| 45|     2|         D8|
|2733|      2344479|         Yes|                      56|           30|          E2|                       15.79|                      15.79|                     0|           No|                       No|  Male|           Direct|         8|       L004|     560034| 45|     8|        D18|
+----+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+

In [58]:
spark.sql("SELECT * FROM f2 WHERE Sno LIKE '%2%'").show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|ected_in_CTCPercent_hike_exp|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_Id|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+
|  2|      2112635|          No|                      18|           30|          E2|                          50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|
| 12|      2143362|          No|                       6|           30|          E1|                         240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|
| 20|      2172982|          No|                       1|            0|          E2|                          30|                         30|                     0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|
| 23|      2175323|          No|                       1|            0|          E3|                       42.78|                      42.78|                     0|           No|                      Yes|  Male|Employee Referral|         8|       L002|     600020| 29|     2|         D6|
| 24|      2184108|          No|                       0|           30|          E1|                        37.5|                       37.5|                     0|           No|                       No|Female|Employee Referral|         3|       L002|     600020| 30|     1|        D19|
| 25|      2188014|          No|                       1|            0|          E2|                       42.86|                      42.86|                     0|           No|                       No|  Male|           Direct|         5|       L001|     201301| 30|     2|        D11|
| 26|      2191237|         Yes|                      83|           60|          E2|                          25|                         25|                     0|           No|                       No|  Male|           Direct|         5|       L001|     201301| 30|     7|        D24|
| 27|      2194323|          No|                       1|            0|          E3|                      114.82|                      42.86|                 -33.5|           No|                       No|  Male|           Direct|         6|       L001|     201301| 31|     2|        D16|
| 28|      2205244|          No|                      16|           60|          E1|                       41.18|                          0|                -29.17|           No|                       No|  Male|           Direct|         7|       L001|     201301| 31|     7|         D5|
| 29|      2205496|         Yes|                      32|          120|          E3|                       50.97|                         57|                     4|           No|                       No|  Male|           Direct|        13|       L002|     600020| 40|     1|         D9|
| 32|      2214217|          No|                       4|           30|          E2|                       -2.17|                      -2.17|                     0|           No|                       No|Female|Employee Referral|         5|       L002|     600020| 33|     1|        D24|
| 52|      2237899|         Yes|                       4|            0|          E2|                       42.86|                      42.86|                     0|           No|                       No|Female|Employee Referral|        10|       L001|     201301| 34|     2|        D19|
| 62|      2282703|          No|                       4|           30|          E1|                      233.33|                        150|                   -25|           No|                       No|Female|           Direct|         1|       L002|     600020| 25|     1|         D3|
| 72|      2287314|         Yes|                      68|           60|          E1|                       47.73|                      42.05|                 -3.85|           No|                       No|  Male|           Direct|         3|       L002|     600020| 26|     1|        D12|
| 92|      2352237|          No|                       0|            0|          E1|                       11.11|                     -16.67|                   -25|           No|                       No|Female|           Direct|         1|       L001|     201301| 24|     2|         D5|
|102|      2365129|          No|                       4|           30|        null|                       42.86|                      42.86|                     0|           No|                       No|  Male|           Direct|         2|       L007|     682001| 24|     2|        D12|
|112|      2378097|         Yes|                      34|           30|          E1|                          75|                         75|                     0|           No|                       No|  Male|           Direct|         2|       L002|     600020| 25|     1|        D24|
|120|      2407721|         Yes|                       6|           30|          E1|                        12.5|                     -53.75|                -58.89|           No|                       No|  Male|           Agency|         1|       L002|     600020| 27|     1|         D6|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+